aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.5.3"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.5.3"
attrs==20.3.0; python_version >= "3.6" and python_full_version >= "3.5.3"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
discord-py-slash-command==1.1.0; python_version >= "3.6"
discord.py==1.6.0; python_full_version >= "3.5.3"
idna==3.1; python_version >= "3.6" and python_full_version >= "3.5.3"
multidict==5.1.0; python_version >= "3.6" and python_full_version >= "3.5.3"
typing-extensions==3.7.4.3; python_version >= "3.6" and python_full_version >= "3.5.3" and python_version < "3.8"
yarl==1.6.3; python_version >= "3.6" and python_full_version >= "3.5.3"
